In [1]:
import pandas as pd

In [ ]:
data={
    'Gender': ["Male", "Male", "Female", "Female", "Male"],
    'Height': [174, 189, 185, 195, 149],
    'Weight': [96, 87, 110, 104, 61],
    'Index': [4, 2, 4, 3, 3]
}
    
df = pd.DataFrame(data)

In [3]:
df

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [5]:
x = df[['Height', 'Weight']]
y = df.Gender

In [6]:
pd.get_dummies(y)

   Female   Male
0   False   True
1   False   True
2    True  False
3    True  False
4   False   True

In [7]:
x

   Height  Weight
0     174      96
1     189      87
2     185     110
3     195     104
4     149      61